body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #b0c4de;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-side {
    text-align: center;
    padding: 20px;
    color: white;
}

.left-side h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.left-side p {
    font-size: 18px;
    margin-bottom: 20px;
}

button#welcome-button {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button#welcome-button:hover {
    background-color: #2980b9;
}

.social-buttons {
    margin-top: 20px;
}

.social-buttons a {
    margin-right: 10px;
}

.right-side img {
    max-width: 100%;
    height: auto;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* スマートフォン用のスタイル */
@media screen and (max-width: 480px) {
    img {
        border: 0;
    }
}

/* PC用のスタイル */
@media screen and (min-width: 1280px) {
    img {
        border: 1px solid red;
    }
}
