/* 共通のスタイル */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* スマートフォン用のスタイル */
@media screen and (max-width: 480px) {
    img {
        border: 0;
    }
}

/* PC用のスタイル */
@media screen and (min-width: 1280px) {
    img {
        border: 1px solid red;
    }
}

/* ボタンのアニメーション */
button {
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #3498db;
    transform: scale(1.1);
}

/* テキストのアニメーション */
#animated-text {
    opacity: 0;
    animation: slideIn 1s 1.6s forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
